.idea/
.vs/
.vscode/

/Build
/Builds
/Library
/Logs
/obj
/Temp

*.csproj
*.sln

/Assets/Scripts/Tests/MirrorData.meta
/Assets/Scripts/Tests/PortalData.meta
/Assets/Scripts/Tests/MirrorData
/Assets/Scripts/Tests/PortalData
